# TUPLES

In [1]:
# tuple is declared using ()
type(())

tuple

In [2]:
t=('a','b','c')

In [3]:
t

('a', 'b', 'c')

In [4]:
type(t)

tuple

In [5]:
# Tuples are similar to lists with a key difference of 'mutability' . Tuples are immutable while lists are mutable.
# We can apply similar operations and functions to tuples, like slicing and traversing through for loop etc.

In [6]:
t1=('hello',2.0,'there',4+6j,5)

In [7]:
t1

('hello', 2.0, 'there', (4+6j), 5)

In [8]:
t1[1:]

(2.0, 'there', (4+6j), 5)

In [9]:
t1[-1]

5

In [10]:
t1[::-1]

(5, (4+6j), 'there', 2.0, 'hello')

In [11]:
t1[0:3]

('hello', 2.0, 'there')

In [17]:
t2=t1+('new',3,6,90,'Join',2,'hello')

In [18]:
t2

('hello', 2.0, 'there', (4+6j), 5, 'new', 3, 6, 90, 'Join', 2, 'hello')

In [19]:
t2.count(2)

2

In [20]:
t2.count('there')

1

In [21]:
t2.count('hello')

2

In [22]:
t2.index(4+6j)

3

In [23]:
t2.index("hello")

0

In [25]:
t2.index(2)

1

In [26]:
t2.index('join')
# gonna result in error

ValueError: tuple.index(x): x not in tuple

In [28]:
t2.index('Join')

9

In [31]:
max(t2)
#error as tuple contains string datatype and hence can't be commpared with int or float to find out max (or min)

TypeError: '>' not supported between instances of 'float' and 'str'

In [32]:
for i in t2:
    print(i)

hello
2.0
there
(4+6j)
5
new
3
6
90
Join
2
hello

In [34]:
for i in t2:
    print(i,"\t",type(i))

hello 	 <class 'str'>
2.0 	 <class 'float'>
there 	 <class 'str'>
(4+6j) 	 <class 'complex'>
5 	 <class 'int'>
new 	 <class 'str'>
3 	 <class 'int'>
6 	 <class 'int'>
90 	 <class 'int'>
Join 	 <class 'str'>
2 	 <class 'int'>
hello 	 <class 'str'>

In [35]:
# to find an element in tuple 
'new' in t2

True

In [36]:
if "Join" in t2:
    print("present")
else:
    print("absent")

present

In [39]:
list1=[ i for i in t2]

In [40]:
list1

['hello', 2.0, 'there', (4+6j), 5, 'new', 3, 6, 90, 'Join', 2, 'hello']

In [43]:
del t2
# tuple deleted

NameError: name 't2' is not defined