# FUNCTIONS

### Function is block of a program/code that runs when it is called.
### Majorly are of two types:-
### (1) Inbuilt Functions e.g. print(),len(),sqrt() etc.
### (2) User defind Functions e.g. any_name()

In [93]:
#defintion 
#functions are defind using 'def' keyword
def function1():
    pass

In [94]:
#function definition cannot be empty
def fun2():

SyntaxError: incomplete input (2202699453.py, line 2)

In [ ]:
def fun1():
    print('Hello World') #Inbuilt function

In [95]:
# calling a function
fun1()

NameError: name 'fun1' is not defined

In [ ]:
#beacuse print() return type is 'NoneType'
fun1() + ' Hello!'

## utilizing RETURN

In [ ]:
def fun2():
    return 'functions are fun!'

In [96]:
fun2()

NameError: name 'fun2' is not defined

In [ ]:
fun2() + ' yes they are!'

In [ ]:
def fun3():
    return 5+8

In [ ]:
type(fun3)

In [97]:
# outputs the type of data value returned by 'return' statement
type(fun3())

NameError: name 'fun3' is not defined

In [ ]:
fun3()

In [ ]:
fun3() * 13

In [ ]:
# 'return' statement can return many values of different data types
def fun4():
    return 45,'functions',2+9j,True

In [98]:
fun4()

NameError: name 'fun4' is not defined

In [ ]:
fun4()[2]

In [ ]:
def fun5():
    flist=[1,2,3,4,5]
    return flist

In [ ]:
fun5()

In [99]:
fun5()[3]

NameError: name 'fun5' is not defined

In [ ]:
def fun6():
    return 31,'tan',3.1415,[9,8,7,6,5]

In [ ]:
fun6()

In [ ]:
fun6()[3][2]

In [ ]:
a = 1,2,3,4,5

In [100]:
a

NameError: name 'a' is not defined

In [ ]:
type(a)

In [101]:
type(fun6())

NameError: name 'fun6' is not defined

In [ ]:
type(fun6)

## ARGUEMENTS / PARAMETERS

In [ ]:
# giving parameters to function
def fun7(length,breadth):
    perimeter=length+breadth
    return perimeter

In [ ]:
#passing arguemetns to function
fun7(4,9)

In [102]:
#passing different arguements to functions
fun7('hello ' , 'functions')

NameError: name 'fun7' is not defined

In [103]:
# if arguements fail to satisfy function definition, its gonna result in error
fun7(5,'hello')

NameError: name 'fun7' is not defined

In [ ]:
def fun8(a,b):
    c=a+b
    e=a*5
    return c,e

In [ ]:
fun8(8,5)

In [ ]:
fun8('Coding' , ' Warrior')

In [ ]:
new=fun8('Coding' , ' Warrior')

In [ ]:
new

In [104]:
type(new)

NameError: name 'new' is not defined

In [ ]:
list1=[13,39,'functor',4.345,False,'Hom']

In [ ]:
# A function that prints a list with numbers only from a list
def fun9(l1):
    l=[]
    for i in l1:
        if type(i)==int or type(i)==float:
            l.append(i)
    return l

In [ ]:
fun9(list1)

In [ ]:
list2 = [True,23,'pie',45,'chi',89,65,23+9j,[90,76,45,43,89,12],False,'Xie']

In [ ]:
# A function that prints a list of numbers from a passed list
def fun10(l2):
    m=[]
    for i in l2:
        if type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    m.append(j)
        elif type(i)==int or type(i)==float:
            m.append(i)
    return m

In [ ]:
fun10(list2)

In [ ]:
list3 = [ 3.78 , True , 67 , [34,'hom',56,4.456,False,34,67] , 'endo' , 6j , 'mono' ,45]

In [ ]:
fun10(list3)

## Understanding n number of ARGUEMENTS

In [ ]:
def fun11(x,y,z,w,v):
    return x,y,z,w,v

In [105]:
fun11(9,8,7,6,5)

NameError: name 'fun11' is not defined

In [ ]:
# In this way function will receive a tuple of arguements
def fun12(*args):
    return args

In [ ]:
fun12()

In [ ]:
type(fun12())

In [ ]:
fun12(4,True,'tan,5.54')

In [106]:
fun12(6,7j,True,'tanm')[3]

NameError: name 'fun12' is not defined

In [ ]:
fun12(5,'acb',[3,4,5],7.314,8j)

In [ ]:
def fun13(*args,x):
    return args,x

In [ ]:
# gonna result in error as we have to pass arguement for 'a' explicitly
fun13('hello',23,True,6.072)

In [107]:
fun13('hello',23,True,6.072, x=56)

NameError: name 'fun13' is not defined

In [ ]:
# gonna result in error as its gonna create ambiguity between arguments
def fun14(*args1 , *args2):
    return args1,args2

### passing arguements as key-value pair

In [ ]:
def fun15(a,b,c):
    return a,b,c

In [ ]:
fun15(a='Ken',b='Rem',c='Sam')

In [ ]:
# passing n number of arguements in key-value pair
def fun16(**kwargs):
    return kwargs

In [108]:
fun16(a='ken', b='xen', c='wen')

NameError: name 'fun16' is not defined

In [ ]:
type(fun16())

In [ ]:
dict1={
    'name' :'tan',
    'sno'  :12,
    'gpa'  :7
}

In [ ]:
fun16(a=5)

In [ ]:
fun16(a=5,b=30,c=8.99,d='tan',f=3j,g=[1,5,8,3,'hello'])

In [109]:
def fun17(**val):
    l=[]
    for i in val.keys():
        if type(val[i])==int or type(val[i])==float:
            l.append(val[i])
        elif type(val[i])==list:
            for j in val[i]:
                if type(j)==int or type(j)==float:
                    l.append(j)
    return l

In [110]:
fun17(a=5,b=30,c=8.99,d='tan',f=3j,g=[1,5,8.932,3,'hello'])

[5, 30, 8.99, 1, 5, 8.932, 3]

In [111]:
def fun18(*val1,**val2):
    for k in val1:
        print(k)
    for l in val2:
        print(val2[l])
    return 0

In [112]:
fun18(4.56,6j,'tan',59,p=45,q='lets,go!',r=9.07)

4.56
6j
tan
59
45
lets,go!
9.07

0

In [113]:
def fun19(*val3,**val4):
    return val3,val4

In [114]:
fun19(4.56,6j,'tan',59,p=45,q='lets,go!',r=9.07)

((4.56, 6j, 'tan', 59), {'p': 45, 'q': 'lets,go!', 'r': 9.07})

## GENERATOR FUNCTION

### Genrator function is a space-efficient method as it handles one piece/part of the file at a time.
### It returns an iterator using 'yield' keyword

In [115]:
# range() is an example of inbuilt generator function 
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [116]:
# creating generator function for Fibonacci series
def fib_ser(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [117]:
fib_ser(5)

In [118]:
# fib_ser() returns an iterable object
for i in fib_ser(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [119]:
# generator expression
var=(j*j for j in range(10) if j%2!=0)

In [120]:
var

In [121]:
for i in var:
    print(i,end=' ')

1 9 25 49 81

In [122]:
 type(var)

generator

In [123]:
var1={j*j for j in range(10) if j%2!=0}

In [124]:
var1

{1, 9, 25, 49, 81}

In [125]:
type(var1)

set

## LAMBDA FUNCTION

### Lambda function is a short anonymous function

In [126]:
def add(a,b):
    print(a+b)

In [127]:
add(5,9)

14

In [128]:
# lambda fun
add1 = lambda x,y : x+y

In [129]:
add1(5,9)

14

In [130]:
lambda d : d+6

In [131]:
mul = lambda x,y,z : x*y*z

In [132]:
mul(4,5,6)

120

In [133]:
def new(x):
    return lambda a : a * x

new1 = new(3)

print(new1(11))

33

## MAP FUNCTION

### 'map' function maps an iterable through a particular function

In [134]:
# map(fun,iterable)

In [135]:
list1=[9,6,4,3,7,2,0,3]
def cubee(a):
    return a**3

In [136]:
cubee(5)

125

In [137]:
def cube_list(b):
    list2=[]
    for i in b:
        list2.append(i**3)
    return list2

In [138]:
cube_list(list1)

[729, 216, 64, 27, 343, 8, 0, 27]

In [139]:
#instead of writing a function separately we can use map function
map(cubee,list1)

In [140]:
# as map() retruns an iterable object
list(map(cubee,list1))

[729, 216, 64, 27, 343, 8, 0, 27]

In [141]:
for i in map(cubee,list1):
    print(i)

729
216
64
27
343
8
0
27

In [142]:
list1

[9, 6, 4, 3, 7, 2, 0, 3]

In [143]:
# shothand to square function for the list1
list ( map ( lambda x : x**2 , list1 ) )

[81, 36, 16, 9, 49, 4, 0, 9]

In [144]:
# to get ture-false based list for numbers in list which are less than 5
list(map(lambda x : x<5,list1) )

[False, False, True, True, False, True, True, True]

In [145]:
# as string is iterable hence we can perform map() on it 
string1="Life is Good"
list(map(lambda x:x.upper(),string1))

['L', 'I', 'F', 'E', ' ', 'I', 'S', ' ', 'G', 'O', 'O', 'D']

In [146]:
# method 2
list4=[]
for i in string1:
        list4.append(i.upper())

In [147]:
list4

['L', 'I', 'F', 'E', ' ', 'I', 'S', ' ', 'G', 'O', 'O', 'D']

## REDUCE FUNCTION

### This function, it takes two elements from a sequence(iterable) and operate on them the passed function, 
### then the obtained result is operated with next sequence element,
### and the process continues till the last element is achieved and result is printed.
### It is present in 'functools'

In [148]:
from functools import reduce

In [149]:
list5=[1,2,3,4,5]

In [150]:
reduce(lambda x,y:x+y , list5)

15

In [151]:
def mult(a,b):
    return a*b

In [152]:
reduce(mult,list5)

120

In [153]:
# to find maximum/minimum number in list
reduce(lambda x,y: x if x>y else y,list5)

5

In [154]:
reduce(lambda x,y: x if x<y else x,list5)

1

In [155]:
reduce(lambda x,y:y-x,list5)

3

## FILTER FUNCTION

### Filter out an iterable through a passed function using true/false return type

In [156]:
list6=[7,8,6+7j,'Hello',7.86,'kinder',90]

In [157]:
list(filter(lambda x:type(x)==int,list6))

[7, 8, 90]

In [158]:
list7=[3,6,9,90,7,13,56,45,33,20,19]

In [159]:
def fun22(lis):
        if type(lis)==int or type(lis)==float or type(lis)==complex:
            return True
        else:
            return False

In [160]:
list(filter(fun22,list6))

[7, 8, (6+7j), 7.86, 90]

In [161]:
list(filter(lambda x:type(x)==str,list6))

['Hello', 'kinder']